body {
  padding-top: 5rem;
}


.sticky {
  position: sticky !important;
  position: -webkit-sticky !important;
  z-index: 2;
}

.nonstick,
.sticky {
  display: flex;
  align-items: center;
  background-color: white;
  border-bottom: 1px solid #eee;
  box-sizing: border-box;
}

.Cell {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #eee;
  border-right: 1px solid #eee;
}
